@import url('https://fonts.googleapis.com/css?family=Arvo|Fjalla+One|Josefin+Sans|Quicksand');

.header-container {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Fjalla One', sans-serif;
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
}

.header-container h1 {
    font-family: 'Lazer84';
    font-size: 40px;
    margin-bottom: 10px;
    letter-spacing: 4.5px;
}

.header-container p {
  text-transform: none;
  letter-spacing: 1.66px;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 20px;
  font-family: 'Arvo', serif;
}

.header-container span {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 100;
}
