
.image-slide {
  height: 350px;
  width: 70%;
  margin-top: 60px;
  margin-left: 6em;
	transition: background-image .3s ease-in-out;
}

.tvArrow {
  background: url('https://res.cloudinary.com/boydco112/image/upload/v1532615155/channel-switcher.png');
}

.carousel div {
  width: 100% !important;
height: 360px !important;
position: relative;
    z-index: -1;
}
